node-red-flows.json
[{"id":"b6e51d42.a3097","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6bdf2f12.34ca6","type":"inject","z":"b6e51d42.a3097","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":230,"y":180,"wires":[["f75bb554.d1d968"]]},{"id":"cded62bb.537d4","type":"inject","z":"b6e51d42.a3097","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"2","topic":"","payload":"false","payloadType":"bool","x":230,"y":240,"wires":[["f75bb554.d1d968"]]},{"id":"903fa29b.5b76e","type":"mqtt in","z":"b6e51d42.a3097","name":"","topic":"umidade","qos":"2","datatype":"auto","broker":"cd103574.c3de38","nl":false,"rap":true,"rh":0,"x":440,"y":180,"wires":[["5476b8e8.715688"]]},{"id":"f75bb554.d1d968","type":"mqtt out","z":"b6e51d42.a3097","name":"","topic":"umidade","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cd103574.c3de38","x":460,"y":320,"wires":[]},{"id":"3192823f.97e79e","type":"arduino out","z":"b6e51d42.a3097","name":"RELE","pin":"3","state":"OUTPUT","arduino":"5a84d1c5.7598","x":990,"y":280,"wires":[]},{"id":"365cdbb.186cb24","type":"debug","z":"b6e51d42.a3097","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":890,"y":220,"wires":[]},{"id":"44976d80.458494","type":"mqtt in","z":"b6e51d42.a3097","name":"","topic":"peso","qos":"2","datatype":"auto","broker":"cd103574.c3de38","nl":false,"rap":true,"rh":0,"x":450,"y":440,"wires":[["5fd39995.452da8"]]},{"id":"4eacd972.8268c8","type":"mqtt out","z":"b6e51d42.a3097","name":"","topic":"peso","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cd103574.c3de38","x":450,"y":520,"wires":[]},{"id":"4044875c.83e8f8","type":"arduino in","z":"b6e51d42.a3097","name":"LOADCELL","pin":"4","state":"INPUT","arduino":"5a84d1c5.7598","x":240,"y":480,"wires":[["4eacd972.8268c8"]]},{"id":"fa1a1220.a300b","type":"arduino out","z":"b6e51d42.a3097","name":"LED","pin":"2","state":"OUTPUT","arduino":"5a84d1c5.7598","x":830,"y":480,"wires":[]},{"id":"5fd39995.452da8","type":"function","z":"b6e51d42.a3097","name":"","func":"if (msg.payload < 1.0)\n    return true;\nelse\n    return false;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":480,"wires":[["fa1a1220.a300b"]]},{"id":"5476b8e8.715688","type":"function","z":"b6e51d42.a3097","name":"","func":"if (msg.payload < 0.5)\n    return true;\nelse\n    return false;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["3192823f.97e79e","365cdbb.186cb24"]]},{"id":"cd103574.c3de38","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5a84d1c5.7598","type":"arduino-board","device":"COM4"}]